---
---

@font-face {
  font-family: DaveLandry;
  src: url("./DaveLandry.otf") format("opentype");
}

$black: #222;
$link: #222;
$hover: #b00;

html {
  min-height: 100vh;
}

body {
  background-color: #dbdad7;
  font-family: "DaveLandry", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 900;
  // height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

br {
  clear: both;
}

#background {
  background-position: right bottom;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("/images/background.jpg");
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

section {
  color: $black;
  margin: 40px 50px;
  max-width: 325px;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  margin: 0;
}

p {
  margin: 20px 0;
}

a {
  color: $black;
  text-decoration: none;
  -webkit-transition: color .1s;
          transition: color .1s;

  &:hover {
    color: $hover;
  }

}

#links {
  bottom: 50px;
  left: 50px;
  position: absolute;
  width: 30%;

  a {
    color: $link;
    display: inline-block;
    margin: 10px 10px 0 0;

    &:hover {
      color: $hover;
    }

  }

}

ul > li {
  text-align: left;
}
