---
---

body {
  background-color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

br {
  clear: both;
}

div#background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  opacity: 0.2;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  -webkit-transition: background-image 1s;
          transition: background-image 1s;
}

section {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  left: 50%;
  margin-bottom: 100px;
  margin-left: -300px;
  margin-top: -170px;
  overflow: visible;
  position: absolute;
  text-align: center;
  text-shadow: 0px 1px 5px rgba(255,255,255,0.25);
  top: 50%;
  width: 600px;
}

div#avatar {
  box-shadow: 1px 1px 5px rgba(255,255,255,0.25);
  -webkit-border-radius: 125px;
          border-radius: 125px;
  background-color: rgba(0,0,0,0.5);
  background-image: url("/images/avatar-512.jpg");
  background-position: center center;
  background-size: 256px;
  float: left;
  height: 250px;
  margin: 0px 23px 23px 0px;
  width: 250px;
}

h1 {
  color: #bb0000;
  font-size: 64px;
  font-weight: 100;
  margin: 0px;
  opacity: 0.75;
  text-align: left;
}

p {
  font-size: 23px;
  font-weight: 200;
  margin: 23px 0px;
  opacity: 0.75;
  text-align: left;
}

a {
  color: #000;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: color .1s;
          transition: color .1s;

  &:hover {
    color: #bb0000;
  }

}

a.missing {
  font-weight: bold;
}

a.icon {
  color: #bb0000;
  font-weight: 200;
  width: 95px;

  &:hover {
    color: #cc0000;
  }

  i {
    display: block !important;
    margin: 8px 23px;
    -webkit-transition: color .2s;
            transition: color .2s;
  }

}

ul > li {
  text-align: left;
}
