---
---

body {
  background-color: #dbdad7;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

br {
  clear: both;
}

#background {
  background-position: right bottom;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("/images/background.jpg");
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

section {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 50px;
  margin-top: 40px;
  text-shadow: 0 1px 5px rgba(255,255,255,0.25);
  width: 500px;
}

h1 {
  color: #bb0000;
  font-size: 64px;
  font-weight: 100;
  margin: 0;
  opacity: 0.75;
  text-align: left;
}

p {
  font-size: 23px;
  font-weight: 200;
  margin: 23px 0;
  opacity: 0.75;
  text-align: left;
}

a {
  color: #000;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: color .1s;
          transition: color .1s;

  &:hover {
    color: #bb0000;
  }

}

a.icon {
  color: #bb0000;
  font-weight: 200;
  text-align: center;

  &:hover {
    color: #cc0000;
  }

  i {
    display: block !important;
    margin: 8px 23px;
    -webkit-transition: color .2s;
            transition: color .2s;
  }

}

ul > li {
  text-align: left;
}
