<script>

  var fs = d3.select("#background");
  if (!fs.empty()) {

    var hour = new Date().getHours()
      , dawn = hour >= 5 && hour <= 7
      , dusk = hour >= 18 && hour <= 21
      , night = hour > 21 && hour < 5
    if ( dawn || dusk ) {
      var images = ["charles","powerlines"]
    }
    else if ( night ){
      var images = ["chateau","street"]
    }
    else {
      var images = ["hike","stoughton","trail","unh"]
    }
    var filename = images[Math.floor(Math.random()*images.length)]
    fs.style("background-image","url('/images/bg/"+filename+".jpg')")

    var resizebg = function() {
      var w = window.innerWidth,
          h = window.innerHeight,
          aspect = w/h

      if (aspect > 1.7777) {
        fs.style("background-size",w+"px "+(w/1.7777)+"px")
      }
      else {
        fs.style("background-size",(h*1.7777)+"px "+h+"px")
      }
    }

    resizebg()

    window.onresize = resizebg

  }

</script>
