<html>

<head>

  <title>Dave Landry</title>

  <link rel="icon" type="image/ico" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/avatar-512.jpg">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" type="text/css" href="font-awesome-4.1.0/css/font-awesome.min.css">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

</head>

<body>

  {% include background.html %}

  {{ content }}

</body>

</html>
